<%- include('coordinatorHead.ejs') %>
<% const categories =[]; %>
<% events.forEach(event => { %>
<%   if(!categories.includes(event.category)){ %>
<%     categories.push(event.category); %>
<%   } %>
<% }); %>
<% const eventsList = user.events %>
<br><br>
  <div class="g0" style="padding: 20px; border: 3px solid black;">
    <h3>My Events</h3>
    <div class="row">
      <% events.forEach(event => { %>
        <% const eventIdString = event._id.toString(); %>
        <% if (eventsList.includes(eventIdString)) { %>
          <div class="column">
            <div class="card">
              <div class="container">
                <h4 id="editableContent1" ondblclick="editContent(this, '<%= event._id %>', 'title', 'event')" data-id="<%= event._id %>"><%= event.title %></h4>
                <p class="title" id="editableContent2" ondblclick="editContent(this, '<%= event._id %>', 'catchy', 'event')" data-id="<%= event._id %>"><%= event.catchy %></p>
                <p><button class="button1" onclick="openModalid06('<%= event._id %>')">View</button></p>
                <p><button class="button1" onclick="openEditModal('<%= event._id %>')">Edit</button></p>
                    </div>
            </div>
          </div>
          <% } %>
        <% }) %>
    </div>
  </div>

  <div id="id05" class="modal">
    <form class="modal-content animate">
      <div class="container"><br><br>
        <input type="hidden" id="eventID" name="eventID" required>
        <label for="category">Category:</label><br>
        <% categories.forEach(category => { %>
          <input type="radio" id="category_<%= category %>" name="category" value="<%= category %>" required>
          <label for="category_<%= category %>"><%= category %></label><br>
        <% }); %><br>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>
        <label for="catchy">Catchy:</label>
        <input type="text" id="catchy" name="catchy" required><br><br>
        <label for="eventDescription">Event Description:</label><br>
        <textarea id="eventDescription" name="eventDescription" rows="4" cols="50" required></textarea><br><br>
        <label for="eventMode">Event Mode:</label>
        <input type="text" id="eventMode" name="eventMode" required><br><br>
        <label for="eventRules">Event Rules:</label>
        <div id="eventRulesContainer">
        </div>
        <button type="button" onclick="addNewRule()">Add Rule</button><br>
        <label for="eventVenue">Event Venue:</label>
        <input type="text" id="eventVenue" name="eventVenue" required><br><br>
        <label for="eventDate">Event Date:</label>
        <input type="text" id="eventDate" name="eventDate" required><br><br>
        <p>Event Coordinator Name: <span id="eventCoordinatorName"></span></p>
        <label for="eventTime">Event Time:</label>
        <input type="text" id="eventTime" name="eventTime" required><br><br>
        <label for="eventRegisterationLink">Event Registration Link:</label>
        <input type="url" id="eventRegisterationLink" name="eventRegisterationLink" required><br><br>
    
        <button class="b1" onclick=" updateEvent()">Update Event</button>
        <button type="button" onclick="document.getElementById('id05').style.display='none'" class="cancelbtn" style="float: right;">Cancel</button></div>
    </form>     
  </div>
  
  <div id="eventModal" class="modal">
    <form class="modal-content animate">
      <div class="container"><br><br>
        <p>Category: <span id="categoryValue"></span></p>
        <p>Title: <span id="titleValue"></span></p>
        <p>Catchy: <span id="catchyValue"></span></p>
        <p>Event Description: <span id="descriptionValue"></span></p>
        <p>Event Mode: <span id="modeValue"></span></p>
        <p>Rules:</p>
        <ul id="rulesList"></ul>
        <p>Event Venue: <span id="venueValue"></span></p>
        <p>Event Date: <span id="dateValue"></span></p>
        <p>Event Coordinator Name: <span id="coordinatorNameValue"></span></p>
        <p>Event Time: <span id="timeValue"></span></p>
        <p>Click to <a id="registrationLink" target="_blank">Register</a></p>
        <button type="button" onclick="document.getElementById('eventModal').style.display='none'" class="cancelbtn" style="float: right;">Cancel</button>
      </div>
    </form>
  </div>
  
<%- include('coordinatorFoot.ejs') %>